@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Kampanjer</h1>
    <form method="post" action="@Url.Action("SearchKampanj", "Home")">
        <label>
            Kampanj ID
            <input type="text" name="kampanjID" />
        </label>
        <input type="submit" value="sök" />
    </form>
    <form method="post" action="@Url.Action("SkapaKampanj", "Home")">
        <label>
            Kampanj ID
            <input type="number" name="nyttKampanjID" />
        </label>
        <label>
            Slutdatum
            <input type="date" name="nyttSlutdatum" />
        </label>
        <label>
            Kommentar
            <input type="text" name="nyKommentar" />
        </label>
        <label>
            Undanflykt
            <select name="nyUndanflykt">
                @foreach (var row in ViewBag.undanflyktdata.Rows)
                {
                    <option>
                        @row[0]
                    </option>
                }
            </select>
        </label>
        <input type="submit" value="Skapa kampanj" />
    </form>
</div>

