@{
    ViewData["Title"] = "Undanflykter";
}

<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h2>Undanflykter</h2>
    @if (ViewBag.undanflyktdata != null && ((System.Data.DataTable)ViewBag.undanflyktdata).Rows.Count > 0)
    {
        <table>
            <tr>
                @foreach (var dataColumn in ViewBag.undanflyktdata.Columns)
                {
                    <th>@dataColumn.ColumnName</th>
                }
            </tr>
            @foreach (var row in ViewBag.undanflyktdata.Rows)
            {
                <tr>
                    @for (int i = 0; i < ViewBag.undanflyktdata.Columns.Count; ++i)
                    {

                        <td>@row[i]</td>
                    }
                </tr>
            }

        </table>
    }
    else
    {
        <p>Inga sökresultat hittade</p>
    }

</div>