@{
    ViewData["Title"] = "Undanflykter";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" action="@Url.Action("ListUndanflykter", "Home")">
        <label>
            KampanjID
            <input type="number" name="kampanjID" />
        </label>
        <input type="submit" value="sök" />
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

